@model List<Hyc.Service.Dtos.MenuDto>
@*<li class="header">权限管理</li>*@
@foreach (var menu in Model)
{
    var isActive = (menu.Code != null && menu.Code.IndexOf(ViewBag.CurrentMenu.ToString().ToLower()) > -1);
    //var isActive = ViewBag.CurrentMenu == menu.Code; //判断当前功能是否处于激活
    <li class="@(isActive ? "active treeview" : "treeview")">
        <a href="@menu.Url"><i class="fa fa-link"></i> <span>@Html.Raw(menu.Name)</span>
        @if (menu.SubMeunList != null && menu.SubMeunList.Count > 0)
        {
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        }
        </a>
        @if (menu.SubMeunList != null && menu.SubMeunList.Count > 0)
        {
            <ul class="treeview-menu">
                @foreach (var submenu in menu.SubMeunList)
                {
                    isActive = submenu.Code == ViewBag.CurrentMenu.ToString().ToLower();
                    <li class="@(isActive ? "active" : "")"><a href="@submenu.Url">@Html.Raw(submenu.Name)</a></li>
                }
            </ul>
        }
    </li>
}
